/* Lexus Registration */

@font-face {
  font-family: 'Nobel-Regular';
  src: url('../fonts/Nobel-Regular.eot') format('embedded-opentype'), url('../fonts/Nobel-Regular.woff2') format('woff2'), url('../fonts/Nobel-Regular.woff') format('woff'), url('../fonts/Nobel-Regular.ttf') format('truetype');
}

html,body {
	font-family: 'Nobel-Regular';
	font-size: 16px;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.control-label {
  font-size: 16px;
}

.thank-you {
  margin-top: 150px;
  margin-bottom: 150px;
}

.logout {
    margin-top: 15px;
    position: relative;
    display: block;
    color: #9D9D9D;
}
/* Signin */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bootstrap-timepicker-widget table td input {
	width: 35px;
	font-size: 12px;
}